.center{
    display: block;
    margin: auto;
}

.body{
    width:1600px !improtant;
}
.navbar-default{
    background-color: #111;
}
.textcen{
  text-align:center;
}
.titl{
  margin:60px 0px 0px 0px;
}
*{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.regbtn{
  margin:7px 0px 0px 0px;
  padding:7px 5px 5px 5px;
  background-color:#337ab7;
  color:#ffffff;
}
.faq{
 color:#000;
 text-decoration: none;
}
.faq:hover{
 color:#000;
 text-decoration: none;
}
.faq:visited{
color:#000;
 text-decoration: none;
}
.faq:active{
 color:#000;
 text-decoration: none;
}
.navbar{
    opacity: 50%;
}
.parallax1{
    text-align: center;
    /* The image used */
    background-image: url("../imgs/LTCbackgroundimg.jpg");
    /* Set a specific height */
    min-height: 750px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.caption{
    border-radius: 10px;
    width: 70%;
    display: block;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}
.caption h1{
    text-align: center;
    font-size: 50px;
}
.parallax1 span.carrot{
    font-size: 50px;
    color:#fff;
}
#belowcover h1{
    font-size: 28px;
    margin-top:60px;
    text-align: center;
}
#belowcover p{
    text-align: center;
    font-size: 16px;
}
#belowcover iframe{
    height:250px;
    width:400px;
    display:block;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:30px;
}
#belowcover .regbut{
    display:block;
    text-align: center;
}
.ltitle{
    display:none;
}
.keynote-overview{
    margin-top:10px;
}
.keynote-overview h4{
    text-decoration: underline;
    text-align: center;
}
.keynote-content-left img{
    display:block;
    float:left;
    margin-right:10px;
}
.keynote-content-right img{
    display:block;
    float:left;
    margin-right:10px;
}
.keynote-subcontent-right{
    width:58%;
    float:left;
}
#workshops-container{
    width:95%;
}
#workshops-content{
    width:300px;
    border:1px solid #d3d3d3;
    border-radius: 5px;
    padding:10px;
    margin-left:3%;
    margin-top:10px;
}
